<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/style.css">
    <title>Edit data</title>
</head>
<body>
    <section class="edit-info py-4">
        <div class="container">
            <div class="text-start">
                <h1 class="mb-2 text-danger fw-bold fs-1">Update Student Information</h1>
            </div>
            <form action="/updateData" method="POST">
                <input type="hidden" name="id" value="<%= student.id %>">
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Enter Student Name" value="<%= student.name %>" name="name" aria-describedby="nameHelp" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="Enter Student Email" value="<%= student.email %>" name="email" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputCourse" class="form-label">Course</label>
                    <input type="text" class="form-control" placeholder="Enter Student Course" value="<%= student.course %>" name="course" aria-describedby="courseHelp" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputnumber" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" placeholder="Enter Student Number" value="<%= student.number %>" name="number" aria-describedby="numberHelp" required>
                </div>
                <button type="submit" class="btn btn-outline-danger">Submit</button>
            </form>
        </div>
    </section>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>