<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Add All Student Information</title>
</head>
<body>
    <section class="student py-4">
        <div class="container">
            <div class="text-start">
                <h1 class="mb-2 text-danger fw-bold fs-1">Add The Student Information</h1>
                 <a href="/add-student" class="btn btn-outline-primary mt-4">Add Student</a>
            </div>
                <table class="table table-bordered mt-5">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Course</th>
                    <th>Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% studentList.forEach((student) => { %>
                    <tr>
                        <td><%= student.id %></td>
                        <td><%= student.name %></td>
                        <td><%= student.email %></td>
                        <td><%= student.course %></td>
                        <td><%= student.number %></td>
                        <td>
                            <a href="/edit/<%= student.id %>" class="btn btn-warning fw-bold">edit</a>
                            <a href="/delete/<%= student.id %>" class="btn btn-danger fw-bold" onclick="return confirm('Are You Delete Particular Student Records?')">delete</a>
                        </td>
                    </tr>
              <% }); %>
            </tbody>
        </table>
        </div>
    </section>




    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>